@{
    ViewData["Title"] = "About Agnes";
}

<div class="text-center">
    <h1 class="display-4">Agnes Hyunsoo Rhee</h1>
   <div>
       @{List<string> imgs = new List<string>();}
       
    @foreach (var imagePath in Model)
    {
            imgs.Add(imagePath);
 @*            <div>
            <img src="@Url.Content(imagePath)" alt="Image" style="width: 200px; height: auto; margin: 10px;" />
        </div> *@
    }

    <p>Hello! I'm Agnes! When I was looking through my pictures, I realized I only take pictures from below or with my cat, Salad.
        This is me popping in to say hi!
    </p>
    <div>
        <img src="@Url.Content(imgs[0])" alt="image" style="width: 200px; height: auto; margin: 10px;"/>
        </div>
</div>
</div>
