@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello! My name is Agnes Rhee and I'll be writing a bunch of stuff hopefully about myself, my cat Salad,
        and my works. Works meaning: coding work, crochet work, flute work, and any kind of work :) </p>

        <p>Thanks for stopping by!</p>
</div>
